*{ margin: 0; padding: 0; }
html, body { width:  100%; height: 100%; }
canvas {
         display:block;
         image-rendering: optimizeSpeed;
         image-rendering: -moz-crisp-edges;
         image-rendering: -webkit-optimize-contrast;
         image-rendering: optimize-contrast;
	 cursor: crosshair;
       }
.promotes { position: relative; top:-40px; }
.right { float: right; right:3%;}
.left { float: left;left: 3%; }
#dialogHeader { color: red;font-family: Viner Hand ITC; }
input { display:block;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d02718;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
input:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
input:active {
	position:relative;
	top:1px;

}
#SplashScreen {
 position:fixed;
 top: 50%;
 left: 50%; 
 margin-top:-140px;
 magin-left:-170px;
 
}
#showAdmin { display:none;}
table { border-collapse: collapse; text-align: right;}
th {padding: 10px; background-color: #0000ee; color: #fcfcfc; font-size: 1.1em;
  border-left: 1px #fcfcfc solid;}
tr { border-bottom: 2px #00008b solid;}
td { vertical-align: top; padding: 10px; }


.medIcon
{
  width: 75px;
  height: 75px;
}

.smallIcon
{
  width: 65px;
  height: 65px;
  padding: 5px;
}

.unlockWidget
{
  position: absolute;
  top: 250px;
  background: #B9B0FA;
  width: 30em;
  border: 5px solid darkblue;
  border-radius: 10px;
}
footer{
 position:absolute;
   bottom:0;
   width:100%;
   height:25px;   /* Height of the footer */
   background:#6cf;
}
/*{
  opacity:0.4;
   filter:alpha(opacity=40); /* For IE8 and earlier */
}*/
/*http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page*/